Node-RED/Flows/BLEReceiveWifiUpload.txt
[{"id":"5abc1729.db63e8","type":"tab","label":"BLEReceiveWifiUpload","disabled":false,"info":""},{"id":"82b377b1.349308","type":"Generic BLE in","z":"5abc1729.db63e8","name":"","genericBle":"c49e3cd3.0c0bb","useString":false,"notification":true,"x":302.4285430908203,"y":256.28570652008057,"wires":[["94dd87f4.91a958"]]},{"id":"ec36cb1e.4646d8","type":"inject","z":"5abc1729.db63e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":114.42854309082031,"y":256.28570652008057,"wires":[["82b377b1.349308"]]},{"id":"87321bdc.644138","type":"function","z":"5abc1729.db63e8","name":"Initiate flow Variables","func":"//Blinkt variables\nflow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\n\n//ID of last device to register as charged\nflow.set(\"chargedID\", \"0\");\n\nreturn msg;","outputs":1,"noerr":0,"x":303.6428527832031,"y":43.21427917480469,"wires":[[]]},{"id":"d99eba1c.1d59c8","type":"inject","z":"5abc1729.db63e8","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":96.64285278320312,"y":43.21427917480469,"wires":[["87321bdc.644138","5e217401.bdd3cc"]]},{"id":"5e217401.bdd3cc","type":"python-function","z":"5abc1729.db63e8","name":"blinkt show","func":"#!/usr/bin/env python\n\nimport blinkt\n\nblinkt.set_clear_on_exit()\n\nblinkt.set_brightness(0.1)\n\nblinkt.show()\n\n\ntry:\n    while True:\n        pass\nexcept KeyboardInterrupt:\n    pass\n","outputs":1,"x":281.80953216552734,"y":94.54761409759521,"wires":[[]]},{"id":"fb0f4656.e6ea48","type":"function","z":"5abc1729.db63e8","name":"thingSpeak Blinkt","func":"//Trigger delays execution of this function considering thingSpeak upload delay\nif(msg.payload === \"1\"){\n    //use Blinkt indicator to show that bluetooth has been detected\n    flow.set(\"numberOfLEDs\", \"8\");\n    for(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,94,184\"; //set the LED colour to bluetooth blue\n        node.send(msg);\n    }\n}\n\n","outputs":1,"noerr":0,"x":1102.6785736083984,"y":369.92860984802246,"wires":[["d6b4bd47.4ae9e","361f6a82.8d7f56"]]},{"id":"8e2b0ef3.f503d","type":"rpi-blinkt out","z":"5abc1729.db63e8","name":"","x":1467.968059539795,"y":464.4008483886719,"wires":[]},{"id":"d6b4bd47.4ae9e","type":"trigger","z":"5abc1729.db63e8","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1126.714340209961,"y":416.82152462005615,"wires":[["a04a23f2.0b2e5"]]},{"id":"a04a23f2.0b2e5","type":"function","z":"5abc1729.db63e8","name":"Blinkt clear","func":"//Trigger delays this clear function\nif(msg.payload === \"1\"){\n    for(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":1169.7142486572266,"y":465.2499599456787,"wires":[["8e2b0ef3.f503d"]]},{"id":"361f6a82.8d7f56","type":"delay","z":"5abc1729.db63e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1323.7145080566406,"y":417.75003719329834,"wires":[["8e2b0ef3.f503d"]]},{"id":"578dc984.5a09d8","type":"thingspeak42","z":"5abc1729.db63e8","name":"thingSpeak Upload","delay":"10","topic1":"Time","topic2":"ID","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":1320.4286651611328,"y":256.8333492279053,"wires":[]},{"id":"dfc12640.016ba8","type":"function","z":"5abc1729.db63e8","name":"thingSpeak msg","func":"//Function to package data into msgs for thingSpeak node\n//Send two messages to thingSpeak with both topics\nvar newMsg={};\n\nnewMsg.topic = 'Time';\nnewMsg.payload = msg.Time;\nnode.send(newMsg);\n\nnewMsg.topic = 'ID';\nnewMsg.payload = msg.ID;\nnode.send(newMsg);\n\n//Reset last charged device flow variable for future flights\nflow.set(\"chargedID\", \"0\");","outputs":1,"noerr":0,"x":1099.0119171142578,"y":257.46428871154785,"wires":[["bbc9c423.8862b8","c84d6f1d.de2e4","578dc984.5a09d8"]],"inputLabels":["buffer"]},{"id":"94dd87f4.91a958","type":"function","z":"5abc1729.db63e8","name":"Condition data","func":"//Function to read characteristics from bluetooth msg\nvar newMsg={};\n\nnewMsg.ID = msg.payload.characteristics[\"2a00\"].toString();\nnewMsg.Time = msg.payload.characteristics[\"2a0a\"].toString();\nnewMsg.Voltage = msg.payload.characteristics[\"2b18\"].toString();\nnewMsg.SoC = msg.payload.characteristics[\"2a1b\"].toString(); //State of Charge\n    \nreturn newMsg;\n","outputs":1,"noerr":0,"x":498.92855072021484,"y":256.7857084274292,"wires":[["dbf1abe.ed2e658","3ad95fb8.ed8fb","46e4efa7.470cf","a43049df.10dcc8"]]},{"id":"c84d6f1d.de2e4","type":"trigger","z":"5abc1729.db63e8","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1034.7857055664062,"y":322.1428861618042,"wires":[["fb0f4656.e6ea48"]]},{"id":"dbf1abe.ed2e658","type":"function","z":"5abc1729.db63e8","name":"Process voltage","func":"var newMsg={bounds:{}};\n\n//Initialise bounds\nvar min=context.get('min') || 100;\nvar max=context.get('max') || -100;\n\n// http://www.steves-internet-guide.com/node-red-variables/\nnewMsg.topic = 'Voltage';\nnewMsg.payload = msg.Voltage\n\nif (msg.Voltage < min) {\n    newMsg.bounds.min = msg.Voltage;\n    context.set('min', msg.Voltage);\n} else {\n    newMsg.bounds.min = min;\n}\nif (msg.Voltage > max) {\n    newMsg.bounds.max = msg.Voltage;\n    context.set('max', msg.Voltage);\n} else {\n    newMsg.bounds.max = max;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":431.4286346435547,"y":325.7142848968506,"wires":[["2a11cf87.aa51e","2844542b.22aafc","c13fdec4.61754"]]},{"id":"c13fdec4.61754","type":"ui_gauge","z":"5abc1729.db63e8","name":"Gauge","group":"786b7bdd.ed56b4","order":3,"width":"0","height":"0","gtype":"gage","title":"Gauge","label":"Volts","format":"{{payload.Voltage}}","min":0,"max":"30","colors":["#ca3535","#e1e718","#35ca5a"],"seg1":"25","seg2":"28","x":623.1429023742676,"y":472.7142629623413,"wires":[]},{"id":"2844542b.22aafc","type":"ui_chart","z":"5abc1729.db63e8","name":"Chart","group":"47dc2a05.642754","order":1,"width":"6","height":"6","label":"Rectifier Voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":623.1431198120117,"y":435.70236015319824,"wires":[[]]},{"id":"2a11cf87.aa51e","type":"ui_template","z":"5abc1729.db63e8","group":"786b7bdd.ed56b4","name":"Max and Min","order":4,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Voltage Min: </span>\n  <span flex>Voltage Max: </span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"bounds in msg\">\n  <span flex style=\"color: green\">{{bounds.min}}</span>\n  <span flex style=\"color: red\">{{bounds.max}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":643.325309753418,"y":397.7182140350342,"wires":[[]]},{"id":"3ad95fb8.ed8fb","type":"ui_text","z":"5abc1729.db63e8","group":"786b7bdd.ed56b4","order":1,"width":"0","height":"0","name":"","label":"Device ID:","format":"{{msg.ID}}","layout":"row-left","x":645.2858848571777,"y":327.14278984069824,"wires":[]},{"id":"46e4efa7.470cf","type":"ui_text","z":"5abc1729.db63e8","group":"786b7bdd.ed56b4","order":2,"width":"0","height":"0","name":"","label":"State of Charge: ","format":"{{msg.SoC}}","layout":"row-left","x":652.8571929931641,"y":361.4285831451416,"wires":[]},{"id":"3c0596d5.6ede5a","type":"is online","z":"5abc1729.db63e8","name":"","url":"","action":"1","x":893.8572845458984,"y":194.71433925628662,"wires":[["b16f6101.f8b15"]]},{"id":"b16f6101.f8b15","type":"simple-queue","z":"5abc1729.db63e8","name":"msg Buffer","firstMessageBypass":false,"bypassInterval":"0","x":904.8947448730469,"y":256.86726570129395,"wires":[["dfc12640.016ba8"]]},{"id":"994fcda2.14727","type":"comment","z":"5abc1729.db63e8","name":"Rectifier voltage is extracted here, and displayed","info":"","x":344.3984680175781,"y":418.61723136901855,"wires":[]},{"id":"71125ea8.192f8","type":"comment","z":"5abc1729.db63e8","name":"Connects to receiver device via BLE","info":"","x":161.88671875,"y":211.61718940734863,"wires":[]},{"id":"a43049df.10dcc8","type":"function","z":"5abc1729.db63e8","name":"Process SoC","func":"//Executes if device charged and ID not already been sent previously\nif(msg.SoC === \"1\" && flow.get(\"chargedID\") != msg.ID ){\n    var newMsg={};\n    //Set last charged device flow variable\n    flow.set(\"chargedID\", msg.ID);\n    \n    newMsg.ID = msg.ID;\n    newMsg.Time = msg.Time;\n\n    return newMsg;\n\n}","outputs":1,"noerr":0,"x":714.3906478881836,"y":256.6875066757202,"wires":[["b16f6101.f8b15"]]},{"id":"ccc3369e.7dff38","type":"comment","z":"5abc1729.db63e8","name":"When device charged, msg sent to buffer","info":"","x":624.1485137939453,"y":203.62110328674316,"wires":[]},{"id":"9302b13d.ffdd7","type":"comment","z":"5abc1729.db63e8","name":"Buffer triggered when connected to internet","info":"","x":1106.144515991211,"y":136.61328411102295,"wires":[]},{"id":"fe069b9e.be9f28","type":"comment","z":"5abc1729.db63e8","name":"Uploads data to thingSpeak channel. ","info":"Connect function and thingSpeak nodes to implement","x":1353.2518005371094,"y":210.83159351348877,"wires":[]},{"id":"aed31a2.9c709e8","type":"comment","z":"5abc1729.db63e8","name":"Blinkt LEDs offer visual indication functionality","info":"","x":1420.8828125,"y":366.60546875,"wires":[]},{"id":"bbc9c423.8862b8","type":"debug","z":"5abc1729.db63e8","name":"Debug thingSpeak","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1135.898452758789,"y":173.671893119812,"wires":[]},{"id":"40bc5964.96f298","type":"inject","z":"5abc1729.db63e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"","x":787.2695617675781,"y":88.00390434265137,"wires":[["9e0f7c63.f08c6"]]},{"id":"9e0f7c63.f08c6","type":"change","z":"5abc1729.db63e8","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":832.2695617675781,"y":143.00390434265137,"wires":[["3c0596d5.6ede5a"]]},{"id":"c49e3cd3.0c0bb","type":"Generic BLE","z":"","localName":"Receiver1","address":"80:7d:3a:82:a9:62","uuid":"807d3a82a962","muteNotifyEvents":false,"operationTimeout":"2000","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"8667556c9a374c9184ed54ee27d90049","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"af0badb15b9943cd917aa77bc549e3cc","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2b","name":"Current Time","type":"org.bluetooth.characteristic.current_time","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a0f","name":"Local Time Information","type":"org.bluetooth.characteristic.local_time_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"69d1d8f345e149a898219bbdfdaad9d9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"9fbf120d630142d98c5825e699a21dbd","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"22eac6e924d64bb5be44b36ace7c7bfb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"9b3c81d857b14a8ab8df0e56f7ca51c2","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2f7cabce808d411f9a0cbb92ba96c102","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"c6b2f38c23ab46d8a6aba3a870bbd5d7","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false}]},{"id":"786b7bdd.ed56b4","type":"ui_group","z":"","name":"Data Received","tab":"ddd5ae4d.bcc0d","disp":false,"width":"6","collapse":false},{"id":"47dc2a05.642754","type":"ui_group","z":"","name":"Plot","tab":"ddd5ae4d.bcc0d","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddd5ae4d.bcc0d","type":"ui_tab","z":"","name":"Drone Data","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
