Node-RED/Flows/BLEReceiveWifiUpload.txt
[{"id":"5abc1729.db63e8","type":"tab","label":"BLE receive/Wifi upload","disabled":false,"info":""},{"id":"82b377b1.349308","type":"Generic BLE in","z":"5abc1729.db63e8","name":"","genericBle":"c49e3cd3.0c0bb","useString":false,"notification":true,"x":291,"y":122,"wires":[["ba31119.2d967f","94dd87f4.91a958"]]},{"id":"ec36cb1e.4646d8","type":"inject","z":"5abc1729.db63e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":103,"y":122,"wires":[["82b377b1.349308"]]},{"id":"87321bdc.644138","type":"function","z":"5abc1729.db63e8","name":"Initiate Blinkt Variables","func":"flow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":230,"wires":[[]]},{"id":"d99eba1c.1d59c8","type":"inject","z":"5abc1729.db63e8","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":82,"y":230,"wires":[["87321bdc.644138","5e217401.bdd3cc"]]},{"id":"5e217401.bdd3cc","type":"python-function","z":"5abc1729.db63e8","name":"blinkt show","func":"#!/usr/bin/env python\n\nimport blinkt\n\nblinkt.set_clear_on_exit()\n\nblinkt.set_brightness(0.1)\n\nblinkt.show()\n\n\ntry:\n    while True:\n        pass\nexcept KeyboardInterrupt:\n    pass\n","outputs":1,"x":267.1666793823242,"y":281.3333349227905,"wires":[[]]},{"id":"ba31119.2d967f","type":"debug","z":"5abc1729.db63e8","name":"Bluetooth msg object","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":284,"y":62,"wires":[]},{"id":"fb0f4656.e6ea48","type":"function","z":"5abc1729.db63e8","name":"Blinkt Indicator","func":"//set the LED colours \nfor(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = flow.get(\"colour\");\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":529.7500076293945,"y":225.50000381469727,"wires":[["d6b4bd47.4ae9e","361f6a82.8d7f56"]]},{"id":"8e2b0ef3.f503d","type":"rpi-blinkt out","z":"5abc1729.db63e8","name":"","x":885,"y":275.6666564941406,"wires":[]},{"id":"d6b4bd47.4ae9e","type":"trigger","z":"5abc1729.db63e8","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":582.5,"y":284,"wires":[["a04a23f2.0b2e5"]]},{"id":"a04a23f2.0b2e5","type":"function","z":"5abc1729.db63e8","name":"Blinkt clear","func":"if(msg.payload === \"1\"){\n    for(var i = 0; i < 8 ; i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":681.5,"y":343,"wires":[["8e2b0ef3.f503d"]]},{"id":"361f6a82.8d7f56","type":"delay","z":"5abc1729.db63e8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":725.5000114440918,"y":225.50000381469727,"wires":[["8e2b0ef3.f503d"]]},{"id":"578dc984.5a09d8","type":"thingspeak42","z":"5abc1729.db63e8","name":"thingSpeak Upload","delay":"30","topic1":"Time","topic2":"ID","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":962.0000152587891,"y":120.50000190734863,"wires":[]},{"id":"dfc12640.016ba8","type":"function","z":"5abc1729.db63e8","name":"thingSpeak msg","func":"if(msg.SoC === \"1\"){\n    //Send two messages to thingSpeak with both topics\n    var newMsg={};\n\n    newMsg.topic = 'Time';\n    newMsg.payload = msg.payload.Time;\n    node.send(newMsg);\n\n    newMsg.topic = 'ID';\n    newMsg.payload = msg.payload.deviceName;\n    node.send(newMsg);\n}","outputs":1,"noerr":0,"x":732.2500114440918,"y":122.75000190734863,"wires":[["578dc984.5a09d8","a3e79a25.aa7258"]]},{"id":"94dd87f4.91a958","type":"function","z":"5abc1729.db63e8","name":"Condition data","func":"var newMsg={};\n\nnewMsg.deviceName = msg.payload.characteristics[\"2a00\"].toString();\nnewMsg.Time = msg.payload.characteristics[\"2a0a\"].toString();\nnewMsg.Voltage = msg.payload.characteristics[\"2b18\"].toString();\nnewMsg.SoC = msg.payload.characteristics[\"2a1b\"].toString(); //State of Charge\n\n//use Blinkt indicator to show that bluetooth has been detected\nflow.set(\"numberOfLEDs\", \"8\")\nflow.set(\"colour\", \"0,94,184\");\n\nreturn newMsg;","outputs":1,"noerr":0,"x":487.50000762939453,"y":122.50000190734863,"wires":[["fb0f4656.e6ea48","dfc12640.016ba8","ca39f367.e7cc6"]]},{"id":"ca39f367.e7cc6","type":"debug","z":"5abc1729.db63e8","name":"Conditioned msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":566.2500076293945,"y":62.500000953674316,"wires":[]},{"id":"a3e79a25.aa7258","type":"debug","z":"5abc1729.db63e8","name":"thingSpeak msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":811.2500152587891,"y":60.00000190734863,"wires":[]},{"id":"c49e3cd3.0c0bb","type":"Generic BLE","z":"","localName":"Receiver1","address":"80:7d:3a:82:a9:62","uuid":"807d3a82a962","muteNotifyEvents":false,"operationTimeout":"2000","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"8667556c9a374c9184ed54ee27d90049","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"af0badb15b9943cd917aa77bc549e3cc","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2b","name":"Current Time","type":"org.bluetooth.characteristic.current_time","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a0f","name":"Local Time Information","type":"org.bluetooth.characteristic.local_time_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"69d1d8f345e149a898219bbdfdaad9d9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"9fbf120d630142d98c5825e699a21dbd","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"22eac6e924d64bb5be44b36ace7c7bfb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"9b3c81d857b14a8ab8df0e56f7ca51c2","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2f7cabce808d411f9a0cbb92ba96c102","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"c6b2f38c23ab46d8a6aba3a870bbd5d7","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false}]}]
