Node-RED/Flows/connectService.txt
[{"id":"f04fc775.822688","type":"tab","label":"connectService","disabled":false,"info":""},{"id":"ea0ae1bc.2317a","type":"Generic BLE in","z":"f04fc775.822688","name":"","genericBle":"c49e3cd3.0c0bb","useString":false,"notification":true,"x":300.00001525878906,"y":233.4285764694214,"wires":[["569fc326.63ad8c"]]},{"id":"fb8d71ab.8cc7f","type":"inject","z":"f04fc775.822688","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":112.00001525878906,"y":233.4285764694214,"wires":[["ea0ae1bc.2317a"]]},{"id":"d0df3782.e07f98","type":"function","z":"f04fc775.822688","name":"Initiate flow Variables","func":"//Blinkt variables\nflow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\n\n//ID of last device to register as charged\nflow.set(\"chargedID\", \"0\");\n\nreturn msg;","outputs":1,"noerr":0,"x":304.0714645385742,"y":48.92858123779297,"wires":[[]]},{"id":"e2df9d93.38bca","type":"inject","z":"f04fc775.822688","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":97.07146453857422,"y":48.92858123779297,"wires":[["d0df3782.e07f98","f096ab85.3b9aa8"]]},{"id":"f096ab85.3b9aa8","type":"python-function","z":"f04fc775.822688","name":"blinkt show","func":"#!/usr/bin/env python\n\nimport blinkt\n\nblinkt.set_clear_on_exit()\n\nblinkt.set_brightness(0.1)\n\nblinkt.show()\n\n\ntry:\n    while True:\n        pass\nexcept KeyboardInterrupt:\n    pass\n","outputs":1,"x":282.23814392089844,"y":100.2619161605835,"wires":[[]]},{"id":"b9473f56.62b97","type":"function","z":"f04fc775.822688","name":"thingSpeak Blinkt","func":"//Trigger delays execution of this function considering thingSpeak upload delay\nif(msg.payload === \"1\"){\n    //use Blinkt indicator to show that bluetooth has been detected\n    flow.set(\"numberOfLEDs\", \"8\");\n    for(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,94,184\"; //set the LED colour to bluetooth blue\n        node.send(msg);\n    }\n}\n\n","outputs":1,"noerr":0,"x":1132.8691062927246,"y":374.92867946624756,"wires":[["6bb899a4.5ad8e8","b5eb6e20.d81aa"]]},{"id":"7b2e8a66.834654","type":"rpi-blinkt out","z":"f04fc775.822688","name":"","x":1498.158592224121,"y":469.400918006897,"wires":[]},{"id":"6bb899a4.5ad8e8","type":"trigger","z":"f04fc775.822688","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1156.904872894287,"y":421.82159423828125,"wires":[["ce14a66f.7c15e8"]]},{"id":"ce14a66f.7c15e8","type":"function","z":"f04fc775.822688","name":"Blinkt clear","func":"//Trigger delays this clear function\nif(msg.payload === \"1\"){\n    for(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":1199.9047813415527,"y":470.2500295639038,"wires":[["7b2e8a66.834654"]]},{"id":"b5eb6e20.d81aa","type":"delay","z":"f04fc775.822688","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1353.9050407409668,"y":422.75010681152344,"wires":[["7b2e8a66.834654"]]},{"id":"dde6a94c.54d2f8","type":"thingspeak42","z":"f04fc775.822688","name":"thingSpeak Upload","delay":"5","topic1":"Time","topic2":"ID","topic3":"Voltage","topic4":"Power","topic5":"SoC","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":1383.7144012451172,"y":233.97621822357178,"wires":[]},{"id":"19a42ee4.3a1741","type":"function","z":"f04fc775.822688","name":"thingSpeak msg","func":"//Function to package data into msgs for thingSpeak node\n//Send individual messages to thingSpeak per topic\nvar newMsg={};\n\nnewMsg.topic = 'Time';\nnewMsg.payload = msg.Time;\nnode.send(newMsg);\n\nnewMsg.topic = 'ID';\nnewMsg.payload = msg.ID;\nnode.send(newMsg);\n\nnewMsg.topic = 'Voltage';\nnewMsg.payload = msg.Voltage;\nnode.send(newMsg);\n\nnewMsg.topic = 'Power';\nnewMsg.payload = msg.Power;\nnode.send(newMsg);\n\nnewMsg.topic = 'SoC';\nnewMsg.payload = msg.SoC;\nnode.send(newMsg);\n\n//Reset last charged device flow variable for future flights\nflow.set(\"chargedID\", \"0\");","outputs":1,"noerr":0,"x":1096.5833892822266,"y":234.60715866088867,"wires":[["6861a94.751b958","dde6a94c.54d2f8"]],"inputLabels":["buffer"]},{"id":"569fc326.63ad8c","type":"function","z":"f04fc775.822688","name":"Condition data","func":"//Function to read characteristics from bluetooth msg\n//Executes until device is charged. If receiving null values also does not execute\nif(msg.payload.characteristics[\"2b18\"].toString() > \"0.3\" ){\n    var newMsg={};\n\n    newMsg.ID = msg.payload.characteristics[\"2a00\"].toString();\n    var date;\n    date = new Date();\n    date = (('00' + date.getDate()).slice(-2) + '-' + ('00' + (date.getMonth()+1)).slice(-2) + '-' + date.getFullYear() + ' ' + ('00' + date.getHours()).slice(-2) + ':' + ('00' + date.getMinutes()).slice(-2) + ':' + ('00' + date.getSeconds()).slice(-2));\n    newMsg.Time = date;\n    newMsg.Voltage = msg.payload.characteristics[\"2b18\"].toString();\n    newMsg.Power = msg.payload.characteristics[\"2b05\"].toString();\n    newMsg.SoC = msg.payload.characteristics[\"2a1b\"].toString(); //State of Charge\n    \n    return newMsg;\n}","outputs":1,"noerr":0,"x":496.5000228881836,"y":233.92857837677002,"wires":[["6ffcea80.5a3a94","4d68735.7e44f8c","a0260801.ba0608","63860e8.c12b3f","fa149dea.01a45","27e472b1.d73dbe"]]},{"id":"6861a94.751b958","type":"trigger","z":"f04fc775.822688","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1064.9762382507324,"y":327.1429557800293,"wires":[["b9473f56.62b97"]]},{"id":"6ffcea80.5a3a94","type":"function","z":"f04fc775.822688","name":"Process voltage","func":"var newMsg={bounds:{}};\n\nvar voltage = parseFloat(msg.Voltage);\n\n//Initialise bounds\nvar min=context.get('min') || 100;\nvar max=context.get('max') || -100;\n\n// http://www.steves-internet-guide.com/node-red-variables/\nnewMsg.topic = 'Voltage';\nnewMsg.payload = voltage;\n\nif (voltage < min) {\n    newMsg.bounds.min = voltage;\n    context.set('min', voltage);\n} else {\n    newMsg.bounds.min = min;\n}\nif (voltage > max) {\n    newMsg.bounds.max = voltage;\n    context.set('max', voltage);\n} else {\n    newMsg.bounds.max = max;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":295.3634948730469,"y":355.04773330688477,"wires":[["a45dc979.0a3448","3aca8cf0.b1b694","22c00098.52c9b"]]},{"id":"22c00098.52c9b","type":"ui_gauge","z":"f04fc775.822688","name":"Gauge","group":"786b7bdd.ed56b4","order":6,"width":"0","height":"0","gtype":"gage","title":"Voltage Gauge","label":"Volts","format":"{{payload.Voltage}}","min":0,"max":"30","colors":["#ca3535","#e1e718","#35ca5a"],"seg1":"10","seg2":"15","x":487.07776260375977,"y":502.0477113723755,"wires":[]},{"id":"3aca8cf0.b1b694","type":"ui_chart","z":"f04fc775.822688","name":"Chart","group":"47dc2a05.642754","order":1,"width":"6","height":"6","label":"Rectifier Voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":487.0779800415039,"y":465.0358085632324,"wires":[[]]},{"id":"a45dc979.0a3448","type":"ui_template","z":"f04fc775.822688","group":"786b7bdd.ed56b4","name":"Max and Min","order":8,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Voltage Min: </span>\n  <span flex>Voltage Max: </span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"bounds in msg\">\n  <span flex style=\"color: green\">{{bounds.min}}</span>\n  <span flex style=\"color: red\">{{bounds.max}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":507.26016998291016,"y":427.05166244506836,"wires":[[]]},{"id":"4d68735.7e44f8c","type":"ui_text","z":"f04fc775.822688","group":"786b7bdd.ed56b4","order":2,"width":"0","height":"0","name":"","label":"Device ID:","format":"{{msg.ID}}","layout":"row-left","x":509.2207450866699,"y":356.4762382507324,"wires":[]},{"id":"a0260801.ba0608","type":"ui_text","z":"f04fc775.822688","group":"786b7bdd.ed56b4","order":4,"width":"0","height":"0","name":"","label":"State of Charge: ","format":"{{msg.SoC}}","layout":"row-left","x":516.7920532226562,"y":390.7620315551758,"wires":[]},{"id":"c5b59ec2.c4d1a","type":"is online","z":"f04fc775.822688","name":"","url":"","action":"1","x":708.5715522766113,"y":149.0000696182251,"wires":[["2e8a0c97.04c744"]]},{"id":"2e8a0c97.04c744","type":"simple-queue","z":"f04fc775.822688","name":"msg Buffer","firstMessageBypass":false,"bypassInterval":"0","x":896.7519149780273,"y":234.01012516021729,"wires":[["19a42ee4.3a1741"]]},{"id":"5a0a3d63.11ab04","type":"comment","z":"f04fc775.822688","name":"Rectifier voltage and Power Out is extracted and displayed","info":"","x":507.0000305175781,"y":313.95081901550293,"wires":[]},{"id":"2fd1d6b7.73e84a","type":"comment","z":"f04fc775.822688","name":"Connects to receiver device via BLE","info":"","x":159.45819091796875,"y":188.76005935668945,"wires":[]},{"id":"63860e8.c12b3f","type":"function","z":"f04fc775.822688","name":"Process msg","func":"if(flow.get(\"chargedID\") !== msg.ID){\n    var newMsg={};\n\n    newMsg.ID = msg.ID;\n    newMsg.Time = msg.Time;\n    newMsg.Voltage = msg.Voltage;\n    newMsg.Power = msg.Power;\n    newMsg.SoC = msg.SoC;\n    \n    if(msg.SoC === \"1\"){\n        //Set last charged device flow variable\n        flow.set(\"chargedID\", msg.ID);\n    }\n    return newMsg;\n}","outputs":1,"noerr":0,"x":699.3906860351562,"y":233.8303680419922,"wires":[["2e8a0c97.04c744"]]},{"id":"924dab77.b5c5f8","type":"comment","z":"f04fc775.822688","name":"msg sent to buffer, which is triggered on connection to internet","info":"","x":843.3867797851562,"y":193.097318649292,"wires":[]},{"id":"d978b2f0.09ca5","type":"comment","z":"f04fc775.822688","name":"Uploads data to thingSpeak channels ","info":"Connect function and thingSpeak nodes to implement","x":1425.1090545654297,"y":198.831618309021,"wires":[]},{"id":"17c2a3e5.e556bc","type":"comment","z":"f04fc775.822688","name":"Blinkt LEDs offer visual indication functionality","info":"","x":1432.0733222961426,"y":371.60551929473877,"wires":[]},{"id":"405c04d8.f0f9ec","type":"inject","z":"f04fc775.822688","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":601.983829498291,"y":42.289634704589844,"wires":[["19d456c5.0313b9"]]},{"id":"19d456c5.0313b9","type":"change","z":"f04fc775.822688","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.983829498291,"y":97.28963470458984,"wires":[["c5b59ec2.c4d1a"]]},{"id":"fa149dea.01a45","type":"function","z":"f04fc775.822688","name":"Process Power","func":"var newMsg={bounds:{}};\n\nvar power = parseFloat(msg.Power);\n\n//Initialise bounds\nvar min=context.get('min') || 100;\nvar max=context.get('max') || -100;\n\n// http://www.steves-internet-guide.com/node-red-variables/\nnewMsg.topic = 'Power';\nnewMsg.payload = power\n\nif (power < min) {\n    newMsg.bounds.min = power;\n    context.set('min', power);\n} else {\n    newMsg.bounds.min = min;\n}\nif (power > max) {\n    newMsg.bounds.max = power;\n    context.set('max', power);\n} else {\n    newMsg.bounds.max = max;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":696.3333282470703,"y":355.09525966644287,"wires":[["70e2def1.6ae3","368edd6c.863862"]]},{"id":"368edd6c.863862","type":"ui_gauge","z":"f04fc775.822688","name":"Gauge","group":"32a5c448.fabdac","order":1,"width":"0","height":"0","gtype":"gage","title":"Power Out Gauge","label":"Watts","format":"{{payload.Power}}","min":0,"max":"20","colors":["#ca3535","#e1e718","#35ca5a"],"seg1":"5","seg2":"10","x":848.6666831970215,"y":401.76191806793213,"wires":[]},{"id":"70e2def1.6ae3","type":"ui_template","z":"f04fc775.822688","group":"32a5c448.fabdac","name":"Max and Min","order":2,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Power Out Min: </span>\n  <span flex>Power Out Max: </span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"bounds in msg\">\n  <span flex style=\"color: green\">{{bounds.min}}</span>\n  <span flex style=\"color: red\">{{bounds.max}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":867.6666870117188,"y":354.7619171142578,"wires":[[]]},{"id":"ff7ecc28.a20c2","type":"ui_button","z":"f04fc775.822688","name":"","group":"786b7bdd.ed56b4","order":8,"width":"2","height":"1","passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":318,"y":430,"wires":[["4d68735.7e44f8c","a0260801.ba0608","a45dc979.0a3448","3aca8cf0.b1b694","22c00098.52c9b","70e2def1.6ae3","368edd6c.863862"]]},{"id":"27e472b1.d73dbe","type":"debug","z":"f04fc775.822688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":457.9999999999999,"y":171.99999999999997,"wires":[]},{"id":"c49e3cd3.0c0bb","type":"Generic BLE","z":"","localName":"Receiver1","address":"80:7d:3a:82:a9:62","uuid":"807d3a82a962","muteNotifyEvents":false,"operationTimeout":"2000","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"8667556c9a374c9184ed54ee27d90049","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"af0badb15b9943cd917aa77bc549e3cc","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2b","name":"Current Time","type":"org.bluetooth.characteristic.current_time","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a0f","name":"Local Time Information","type":"org.bluetooth.characteristic.local_time_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"69d1d8f345e149a898219bbdfdaad9d9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"9fbf120d630142d98c5825e699a21dbd","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"22eac6e924d64bb5be44b36ace7c7bfb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"9b3c81d857b14a8ab8df0e56f7ca51c2","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2f7cabce808d411f9a0cbb92ba96c102","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"c6b2f38c23ab46d8a6aba3a870bbd5d7","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false}]},{"id":"786b7bdd.ed56b4","type":"ui_group","z":"","name":"Current Monitoring Period","tab":"ddd5ae4d.bcc0d","disp":true,"width":"6","collapse":false},{"id":"47dc2a05.642754","type":"ui_group","z":"","name":"","tab":"ddd5ae4d.bcc0d","order":2,"disp":true,"width":"6","collapse":false},{"id":"32a5c448.fabdac","type":"ui_group","z":"","name":"","tab":"ddd5ae4d.bcc0d","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddd5ae4d.bcc0d","type":"ui_tab","z":"","name":"Drone Data","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
