Node-RED/Flows/connectService.txt
[{"id":"f04fc775.822688","type":"tab","label":"connectService","disabled":false,"info":""},{"id":"ea0ae1bc.2317a","type":"Generic BLE in","z":"f04fc775.822688","name":"","genericBle":"c49e3cd3.0c0bb","useString":false,"notification":true,"x":300.00001525878906,"y":233.4285764694214,"wires":[["569fc326.63ad8c"]]},{"id":"fb8d71ab.8cc7f","type":"inject","z":"f04fc775.822688","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":112.00001525878906,"y":233.4285764694214,"wires":[["ea0ae1bc.2317a"]]},{"id":"d0df3782.e07f98","type":"function","z":"f04fc775.822688","name":"Initiate flow Variables","func":"//Blinkt variables\nflow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\n\n//ID of last device to register as charged\nflow.set(\"chargedID\", \"0\");\n\nreturn msg;","outputs":1,"noerr":0,"x":304.0714645385742,"y":48.92858123779297,"wires":[[]]},{"id":"e2df9d93.38bca","type":"inject","z":"f04fc775.822688","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":97.07146453857422,"y":48.92858123779297,"wires":[["d0df3782.e07f98","f096ab85.3b9aa8"]]},{"id":"f096ab85.3b9aa8","type":"python-function","z":"f04fc775.822688","name":"blinkt show","func":"#!/usr/bin/env python\n\nimport blinkt\n\nblinkt.set_clear_on_exit()\n\nblinkt.set_brightness(0.1)\n\nblinkt.show()\n\n\ntry:\n    while True:\n        pass\nexcept KeyboardInterrupt:\n    pass\n","outputs":1,"x":282.23814392089844,"y":100.2619161605835,"wires":[[]]},{"id":"b9473f56.62b97","type":"function","z":"f04fc775.822688","name":"thingSpeak Blinkt","func":"//Trigger delays execution of this function considering thingSpeak upload delay\nif(msg.payload === \"1\"){\n    //use Blinkt indicator to show that bluetooth has been detected\n    flow.set(\"numberOfLEDs\", \"8\");\n    for(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,94,184\"; //set the LED colour to bluetooth blue\n        node.send(msg);\n    }\n}\n\n","outputs":1,"noerr":0,"x":1134.535743713379,"y":439.9286470413208,"wires":[["6bb899a4.5ad8e8","b5eb6e20.d81aa"]]},{"id":"7b2e8a66.834654","type":"rpi-blinkt out","z":"f04fc775.822688","name":"","x":1499.8252296447754,"y":534.4008855819702,"wires":[]},{"id":"6bb899a4.5ad8e8","type":"trigger","z":"f04fc775.822688","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1158.5715103149414,"y":486.8215618133545,"wires":[["ce14a66f.7c15e8"]]},{"id":"ce14a66f.7c15e8","type":"function","z":"f04fc775.822688","name":"Blinkt clear","func":"//Trigger delays this clear function\nif(msg.payload === \"1\"){\n    for(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":1201.571418762207,"y":535.249997138977,"wires":[["7b2e8a66.834654"]]},{"id":"b5eb6e20.d81aa","type":"delay","z":"f04fc775.822688","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1355.571678161621,"y":487.7500743865967,"wires":[["7b2e8a66.834654"]]},{"id":"dde6a94c.54d2f8","type":"thingspeak42","z":"f04fc775.822688","name":"thingSpeak Upload - SoC","delay":"5","topic1":"Time","topic2":"ID","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":1403.7144012451172,"y":233.97621822357178,"wires":[]},{"id":"19a42ee4.3a1741","type":"function","z":"f04fc775.822688","name":"thingSpeak SoC msg","func":"//Function to package data into msgs for thingSpeak node\n//Send two messages to thingSpeak with both topics\nvar newMsg={};\n\nnewMsg.topic = 'Time';\nnewMsg.payload = msg.Time;\nnode.send(newMsg);\n\nnewMsg.topic = 'ID';\nnewMsg.payload = msg.ID;\nnode.send(newMsg);\n\n//Reset last charged device flow variable for future flights\nflow.set(\"chargedID\", \"0\");","outputs":1,"noerr":0,"x":1116.5833892822266,"y":234.60715866088867,"wires":[["6861a94.751b958","dde6a94c.54d2f8"]],"inputLabels":["buffer"]},{"id":"569fc326.63ad8c","type":"function","z":"f04fc775.822688","name":"Condition data","func":"//Function to read characteristics from bluetooth msg\nvar newMsg={};\n\nnewMsg.ID = msg.payload.characteristics[\"2a00\"].toString();\nnewMsg.Time = msg.payload.characteristics[\"2a0a\"].toString();\nnewMsg.Voltage = msg.payload.characteristics[\"2b18\"].toString();\nnewMsg.Power = msg.payload.characteristics[\"2b05\"].toString();\nnewMsg.SoC = msg.payload.characteristics[\"2a1b\"].toString(); //State of Charge\n    \nreturn newMsg;\n","outputs":1,"noerr":0,"x":496.5000228881836,"y":233.92857837677002,"wires":[["6ffcea80.5a3a94","4d68735.7e44f8c","a0260801.ba0608","63860e8.c12b3f","f6d02122.6b79e","fa149dea.01a45"]]},{"id":"6861a94.751b958","type":"trigger","z":"f04fc775.822688","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1066.6428756713867,"y":392.14292335510254,"wires":[["b9473f56.62b97"]]},{"id":"6ffcea80.5a3a94","type":"function","z":"f04fc775.822688","name":"Process voltage","func":"var newMsg={bounds:{}};\n\n//Initialise bounds\nvar min=context.get('min') || 100;\nvar max=context.get('max') || -100;\n\n// http://www.steves-internet-guide.com/node-red-variables/\nnewMsg.topic = 'Voltage';\nnewMsg.payload = msg.Voltage\n\nif (msg.Voltage < min) {\n    newMsg.bounds.min = msg.Voltage;\n    context.set('min', msg.Voltage);\n} else {\n    newMsg.bounds.min = min;\n}\nif (msg.Voltage > max) {\n    newMsg.bounds.max = msg.Voltage;\n    context.set('max', msg.Voltage);\n} else {\n    newMsg.bounds.max = max;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":272.0301818847656,"y":396.71440601348877,"wires":[["a45dc979.0a3448","3aca8cf0.b1b694","22c00098.52c9b"]]},{"id":"22c00098.52c9b","type":"ui_gauge","z":"f04fc775.822688","name":"Gauge","group":"786b7bdd.ed56b4","order":6,"width":"0","height":"0","gtype":"gage","title":"Voltage Gauge","label":"Volts","format":"{{payload.Voltage}}","min":0,"max":"30","colors":["#ca3535","#e1e718","#35ca5a"],"seg1":"25","seg2":"28","x":463.7444496154785,"y":543.7143840789795,"wires":[]},{"id":"3aca8cf0.b1b694","type":"ui_chart","z":"f04fc775.822688","name":"Chart","group":"47dc2a05.642754","order":1,"width":"6","height":"6","label":"Rectifier Voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ","removeOlderPoints":"50","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":463.74466705322266,"y":506.7024812698364,"wires":[[]]},{"id":"a45dc979.0a3448","type":"ui_template","z":"f04fc775.822688","group":"786b7bdd.ed56b4","name":"Max and Min","order":8,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Voltage Min: </span>\n  <span flex>Voltage Max: </span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"bounds in msg\">\n  <span flex style=\"color: green\">{{bounds.min}}</span>\n  <span flex style=\"color: red\">{{bounds.max}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":483.9268569946289,"y":468.71833515167236,"wires":[[]]},{"id":"4d68735.7e44f8c","type":"ui_text","z":"f04fc775.822688","group":"786b7bdd.ed56b4","order":2,"width":"0","height":"0","name":"","label":"Device ID:","format":"{{msg.ID}}","layout":"row-left","x":485.8874320983887,"y":398.1429109573364,"wires":[]},{"id":"a0260801.ba0608","type":"ui_text","z":"f04fc775.822688","group":"786b7bdd.ed56b4","order":4,"width":"0","height":"0","name":"","label":"State of Charge: ","format":"{{msg.SoC}}","layout":"row-left","x":493.458740234375,"y":432.4287042617798,"wires":[]},{"id":"c5b59ec2.c4d1a","type":"is online","z":"f04fc775.822688","name":"","url":"","action":"1","x":708.5715522766113,"y":149.0000696182251,"wires":[["2e8a0c97.04c744","81ba4acc.366318"]]},{"id":"2e8a0c97.04c744","type":"simple-queue","z":"f04fc775.822688","name":"SoC msg Buffer","firstMessageBypass":false,"bypassInterval":"0","x":906.7519149780273,"y":234.01012516021729,"wires":[["19a42ee4.3a1741"]]},{"id":"5a0a3d63.11ab04","type":"comment","z":"f04fc775.822688","name":"Rectifier voltage and Power Out is extracted and displayed","info":"","x":342.0000457763672,"y":355.617470741272,"wires":[]},{"id":"2fd1d6b7.73e84a","type":"comment","z":"f04fc775.822688","name":"Connects to receiver device via BLE","info":"","x":159.45819091796875,"y":188.76005935668945,"wires":[]},{"id":"63860e8.c12b3f","type":"function","z":"f04fc775.822688","name":"Process SoC","func":"//Executes if device charged and ID not already been sent previously\nif(msg.SoC === \"1\" && flow.get(\"chargedID\") != msg.ID ){\n    var newMsg={};\n    //Set last charged device flow variable\n    flow.set(\"chargedID\", msg.ID);\n    \n    newMsg.ID = msg.ID;\n    newMsg.Time = msg.Time;\n\n    return newMsg;\n\n}","outputs":1,"noerr":0,"x":693.390697479248,"y":233.83036136627197,"wires":[["2e8a0c97.04c744"]]},{"id":"924dab77.b5c5f8","type":"comment","z":"f04fc775.822688","name":"When device charged, SoC msg sent to buffer","info":"","x":781.7200622558594,"y":194.763991355896,"wires":[]},{"id":"3cc4ef52.2618c","type":"comment","z":"f04fc775.822688","name":"Buffers triggered when connected to internet","info":"","x":888.5731201171875,"y":60.32758617401123,"wires":[]},{"id":"d978b2f0.09ca5","type":"comment","z":"f04fc775.822688","name":"Uploads data to thingSpeak channels ","info":"Connect function and thingSpeak nodes to implement","x":1425.1090545654297,"y":198.831618309021,"wires":[]},{"id":"17c2a3e5.e556bc","type":"comment","z":"f04fc775.822688","name":"Blinkt LEDs offer visual indication functionality","info":"","x":1433.7399253845215,"y":436.60549545288086,"wires":[]},{"id":"405c04d8.f0f9ec","type":"inject","z":"f04fc775.822688","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"","x":601.983829498291,"y":42.289634704589844,"wires":[["19d456c5.0313b9"]]},{"id":"19d456c5.0313b9","type":"change","z":"f04fc775.822688","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":646.983829498291,"y":97.28963470458984,"wires":[["c5b59ec2.c4d1a"]]},{"id":"f6d02122.6b79e","type":"function","z":"f04fc775.822688","name":"Process flow","func":"//Executes if device not fullycharged and ID not already been sent previously\nif(msg.SoC === \"0\" && flow.get(\"chargedID\") != msg.ID ){\n    var newMsg={};\n\n    newMsg.ID = msg.ID;\n    newMsg.Time = msg.Time;\n    newMsg.Voltage = msg.Voltage;\n    newMsg.Power = msg.Power;\n\n    return newMsg;\n\n}","outputs":1,"noerr":0,"x":691.5714263916016,"y":320.0000581741333,"wires":[["81ba4acc.366318"]]},{"id":"81ba4acc.366318","type":"simple-queue","z":"f04fc775.822688","name":"Flow msg Buffer","firstMessageBypass":false,"bypassInterval":"0","x":888.71435546875,"y":320.00006771087646,"wires":[["b0977cd3.13fa4"]]},{"id":"a3ac63f4.2e7ac","type":"comment","z":"f04fc775.822688","name":"Whilst device charging, Energy msg sent to buffer","info":"","x":798.7143707275391,"y":280.14287853240967,"wires":[]},{"id":"b0977cd3.13fa4","type":"function","z":"f04fc775.822688","name":"thingSpeak Flow msg","func":"//Function to package data into msgs for thingSpeak node\n//Send two messages to thingSpeak with both topics\nvar newMsg={};\n\nnewMsg.topic = 'Time';\nnewMsg.payload = msg.Time;\nnode.send(newMsg);\n\nnewMsg.topic = 'ID';\nnewMsg.payload = msg.ID;\nnode.send(newMsg);\n\nnewMsg.topic = 'Voltage';\nnewMsg.payload = msg.Voltage;\nnode.send(newMsg);\n\nnewMsg.topic = 'Power';\nnewMsg.payload = msg.Power;\nnode.send(newMsg);\n","outputs":1,"noerr":0,"x":1104.2859725952148,"y":320.0000581741333,"wires":[["6861a94.751b958","38a58241.7052be"]],"inputLabels":["buffer"]},{"id":"38a58241.7052be","type":"thingspeak42","z":"f04fc775.822688","name":"thingSpeak Upload - Flow","delay":"5","topic1":"Time","topic2":"ID","topic3":"Voltage","topic4":"Power","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":1402.7024841308594,"y":320.3690767288208,"wires":[]},{"id":"fa149dea.01a45","type":"function","z":"f04fc775.822688","name":"Process Power","func":"var newMsg={bounds:{}};\n\n//Initialise bounds\nvar min=context.get('min') || 100;\nvar max=context.get('max') || -100;\n\n// http://www.steves-internet-guide.com/node-red-variables/\nnewMsg.topic = 'Power';\nnewMsg.payload = msg.Power\n\nif (msg.Power < min) {\n    newMsg.bounds.min = msg.Power;\n    context.set('min', msg.Power);\n} else {\n    newMsg.bounds.min = min;\n}\nif (msg.Power > max) {\n    newMsg.bounds.max = msg.Power;\n    context.set('max', msg.Power);\n} else {\n    newMsg.bounds.max = max;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":673.0000152587891,"y":396.7619323730469,"wires":[["70e2def1.6ae3","368edd6c.863862"]]},{"id":"368edd6c.863862","type":"ui_gauge","z":"f04fc775.822688","name":"Gauge","group":"32a5c448.fabdac","order":1,"width":"0","height":"0","gtype":"gage","title":"Power Out Gauge","label":"Watts","format":"{{payload.Power}}","min":0,"max":"30","colors":["#ca3535","#e1e718","#35ca5a"],"seg1":"25","seg2":"28","x":825.3333702087402,"y":443.42859077453613,"wires":[]},{"id":"70e2def1.6ae3","type":"ui_template","z":"f04fc775.822688","group":"32a5c448.fabdac","name":"Max and Min","order":2,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Power Out Min: </span>\n  <span flex>Power Out Max: </span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"bounds in msg\">\n  <span flex style=\"color: green\">{{bounds.min}}</span>\n  <span flex style=\"color: red\">{{bounds.max}}</span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":844.3333740234375,"y":396.4285898208618,"wires":[[]]},{"id":"c49e3cd3.0c0bb","type":"Generic BLE","z":"","localName":"Receiver1","address":"80:7d:3a:82:a9:62","uuid":"807d3a82a962","muteNotifyEvents":false,"operationTimeout":"2000","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"8667556c9a374c9184ed54ee27d90049","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"af0badb15b9943cd917aa77bc549e3cc","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2b","name":"Current Time","type":"org.bluetooth.characteristic.current_time","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a0f","name":"Local Time Information","type":"org.bluetooth.characteristic.local_time_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"69d1d8f345e149a898219bbdfdaad9d9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"9fbf120d630142d98c5825e699a21dbd","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"22eac6e924d64bb5be44b36ace7c7bfb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"9b3c81d857b14a8ab8df0e56f7ca51c2","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2f7cabce808d411f9a0cbb92ba96c102","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"c6b2f38c23ab46d8a6aba3a870bbd5d7","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false}]},{"id":"786b7bdd.ed56b4","type":"ui_group","z":"","name":"Voltage Coupling","tab":"ddd5ae4d.bcc0d","disp":true,"width":"6","collapse":false},{"id":"47dc2a05.642754","type":"ui_group","z":"","name":"","tab":"ddd5ae4d.bcc0d","order":2,"disp":true,"width":"6","collapse":false},{"id":"32a5c448.fabdac","type":"ui_group","z":"","name":"Power Out","tab":"ddd5ae4d.bcc0d","order":3,"disp":true,"width":"6","collapse":false},{"id":"ddd5ae4d.bcc0d","type":"ui_tab","z":"","name":"Drone Data","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
