Node-RED/Flows/CSV-BLEReceiveWifiUpload.txt
[{"id":"36d0dafc.03e426","type":"tab","label":"CSV - BLE receive/Wifi Upload","disabled":true,"info":""},{"id":"21b370fc.f55c2","type":"Generic BLE in","z":"36d0dafc.03e426","name":"Data Receive","genericBle":"c49e3cd3.0c0bb","useString":false,"notification":true,"x":294.50000762939453,"y":201.00000190734863,"wires":[["34a44296.b79bce","a026b430.cede68"]]},{"id":"9cfe5326.55183","type":"debug","z":"36d0dafc.03e426","name":"Processed msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":886.5,"y":128,"wires":[]},{"id":"750cb98d.182cb8","type":"function","z":"36d0dafc.03e426","name":"Initiate Blinkt Variables","func":"flow.set(\"numberOfLEDs\", \"0\");\nflow.set(\"colour\", \"255,255,255\");\nreturn msg;","outputs":1,"noerr":0,"x":318.50000762939453,"y":295,"wires":[[]]},{"id":"49c0ddb.d88b124","type":"inject","z":"36d0dafc.03e426","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":111.50000762939453,"y":295,"wires":[["750cb98d.182cb8","3d7aca58.12d2c6"]]},{"id":"6f18bdf6.69a5a4","type":"function","z":"36d0dafc.03e426","name":"Blinkt Indicator","func":"//set the LED colours \nfor(var i = 0; i < flow.get(\"numberOfLEDs\"); i++) {\n    msg.topic = \"pixel.\" + i;\n    msg.payload = flow.get(\"colour\");\n    node.send(msg);\n}\n\n","outputs":1,"noerr":0,"x":692.5,"y":280,"wires":[["579e0ad3.4f7f04","bac2b633.84c948"]]},{"id":"de74e9ae.3532a8","type":"thingspeak42","z":"36d0dafc.03e426","name":"thingSpeak Upload","delay":"30","topic1":"Time","topic2":"ID","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":1087.5,"y":200,"wires":[]},{"id":"a026b430.cede68","type":"function","z":"36d0dafc.03e426","name":"Condition data","func":"var newMsg={};\n//extracts data from characteristic, which is in CSV format\nnewMsg.payload = msg.payload.characteristics[\"beb5483e36e14688b7f5ea07361b26a8\"].toString();\n\n//use Blinkt indicator to show that bluetooth has been detected\nflow.set(\"numberOfLEDs\", \"8\")\nflow.set(\"colour\", \"0,94,184\");\n\nreturn newMsg;","outputs":1,"noerr":0,"x":491.00000762939453,"y":201.00000381469727,"wires":[["186bb73.6a6b549"]]},{"id":"34a44296.b79bce","type":"debug","z":"36d0dafc.03e426","name":"bluetooth msg ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":319.5,"y":139,"wires":[]},{"id":"7748a121.9bd11","type":"inject","z":"36d0dafc.03e426","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":106.50000762939453,"y":201.00000190734863,"wires":[["21b370fc.f55c2"]]},{"id":"e3f4b3f5.771eb","type":"debug","z":"36d0dafc.03e426","name":"csv msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":641.5,"y":138,"wires":[]},{"id":"186bb73.6a6b549","type":"csv","z":"36d0dafc.03e426","name":"Parse CSV","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":660.5000076293945,"y":201.00000190734863,"wires":[["e3f4b3f5.771eb","1b654493.a6154b","6f18bdf6.69a5a4"]]},{"id":"1b654493.a6154b","type":"function","z":"36d0dafc.03e426","name":"Make msg","func":"//Send two messages to thingSpeak with both topics\nvar newMsg={};\nnewMsg.topic = 'Time';\nnewMsg.payload = msg.payload.Time;\nnode.send(newMsg);\n\nnewMsg.topic = 'ID';\nnewMsg.payload = msg.payload.ID;\nnode.send(newMsg);\n","outputs":1,"noerr":0,"x":861.5,"y":201,"wires":[["9cfe5326.55183"]]},{"id":"3d7aca58.12d2c6","type":"python-function","z":"36d0dafc.03e426","name":"blinkt show","func":"#!/usr/bin/env python\n\nimport blinkt\n\nblinkt.set_clear_on_exit()\n\nblinkt.set_brightness(0.1)\n\nblinkt.show()\n\n\ntry:\n    while True:\n        pass\nexcept KeyboardInterrupt:\n    pass\n","outputs":1,"x":296.66668701171875,"y":346.3333349227905,"wires":[[]]},{"id":"9168a5c2.5eea08","type":"rpi-blinkt out","z":"36d0dafc.03e426","name":"","x":1056.5,"y":327.6666564941406,"wires":[]},{"id":"579e0ad3.4f7f04","type":"trigger","z":"36d0dafc.03e426","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"1.5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":754,"y":336,"wires":[["6579cadf.bac1f4"]]},{"id":"6579cadf.bac1f4","type":"function","z":"36d0dafc.03e426","name":"Blinkt clear","func":"if(msg.payload === \"1\"){\n    for(var i = 0; i < 8 ; i++) {\n        msg.topic = \"pixel.\" + i;\n        msg.payload = \"0,0,0\";\n        node.send(msg);\n    }\n}","outputs":1,"noerr":0,"x":853,"y":395,"wires":[["9168a5c2.5eea08"]]},{"id":"bac2b633.84c948","type":"delay","z":"36d0dafc.03e426","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":892,"y":280,"wires":[["9168a5c2.5eea08"]]},{"id":"c49e3cd3.0c0bb","type":"Generic BLE","z":"","localName":"Receiver1","address":"80:7d:3a:82:a9:62","uuid":"807d3a82a962","muteNotifyEvents":false,"operationTimeout":"2000","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"8667556c9a374c9184ed54ee27d90049","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"af0badb15b9943cd917aa77bc549e3cc","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2b","name":"Current Time","type":"org.bluetooth.characteristic.current_time","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a0f","name":"Local Time Information","type":"org.bluetooth.characteristic.local_time_information","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"69d1d8f345e149a898219bbdfdaad9d9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"9fbf120d630142d98c5825e699a21dbd","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"22eac6e924d64bb5be44b36ace7c7bfb","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"9b3c81d857b14a8ab8df0e56f7ca51c2","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2f7cabce808d411f9a0cbb92ba96c102","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"c6b2f38c23ab46d8a6aba3a870bbd5d7","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false}]}]
